<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kurippu</title>
    <!-- logo -->
    <link rel="stylesheet" href="" />
    <!-- landing css -->
    <link rel="stylesheet" href="/stylesheets/landing.css" />
    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header header-image">
      <div class="text-box">
        <h1 class="heading">
          <span class="heading-main">Kurippu</span>
          <span class="heading-sub">Get organized, be more productive</span>
        </h1>
        <a href="#" class="btn"
          ><span class="btn-text-main">Notes</span
          ><span class="btn-text-sub">Relieves stress</span></a
        >
        <a href="#" class="btn"
          ><span class="btn-text-main">ToDos</span
          ><span class="btn-text-sub">Keeps your schedule in track</span></a
        >
      </div>
    </div>
  </body>
</html>
