* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
}

.header {
  height: 100vh;
  background-size: cover;
  position: relative;
}

.header-image {
  background-image: url(https://images.pexels.com/photos/934062/pexels-photo-934062.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: top;
  animation: kenburns-top 10s ease-in-out alternate-reverse infinite;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  background-size: cover;
}

.text-box {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading {
  color: #000;
  text-shadow: #747474 0 0 20px;
  margin-bottom: 2rem;
}

.heading-main {
  font-family: "Anton";
  border: 0.25rem solid #000;
  border-radius: 0.5rem;
  font-size: 5rem;
  padding: 0 2.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  display: block;
  animation: moveInLeft 0.75s ease-out;
}

.heading-sub {
  display: block;
  text-transform: capitalize;
  margin-top: 1rem;
  font-weight: 800;
  font-size: 1.5rem;
  animation: moveInRight 0.75s ease-out;
}

.btn:link,
.btn:visited {
  margin: 1rem 0;
  padding: 0.75rem 1.75rem;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 0.5rem;
  display: block;
  background-color: #313131;
  animation: fadeIn 0.5s ease-in 0.5s;
  animation-fill-mode: backwards;
  transition: all 0.2s;
}

.btn-text-main {
  color: rgb(223, 223, 223);
  font-weight: 800;
  font-size: 1.25rem;
  display: block;
}

.btn-text-sub {
  color: rgb(199, 199, 199);
  font-size: 1rem;
  display: block;
}

.btn:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}
.btn:active {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

@keyframes moveInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes kenburns-top {
  0% {
    transform: scale(1.2) translateY(-15px);
    transform-origin: top;
  }
  100% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
}
